
body {
  background-color: lightblue;
  color: black;

  .text {
    background-color: #0B486B;
    border-radius: 5px;
    color: orange;
    height: 25px;
    margin: 100px auto 0 auto;
    text-align: center;
    width: 200px;
  }

  .highlighted {
    background: black;
    -webkit-box-shadow: 0 0 8px #FFD700;
    -moz-box-shadow: 0 0 8px #FFD700;
    box-shadow: 0 0 8px #FFD700;
    cursor:pointer;
  }


  .content-navigation {
      border-color: grey;
      color: darken(grey, 9%);
  }

  .border {
      border-color: grey;
  }
}
